$Roboto: "Roboto", sans-serif;


@mixin size($width, $height) {
    width: $width;
    $height: $height;
}

@mixin margin($MarginTop, $MarginLeft) {
    margin-top: $MarginTop;
    margin-left: $MarginLeft;
}

@mixin padding($PaddingTop, $PaddingLeft) {
    padding-top: $PaddingTop;
    padding-left: $PaddingLeft;
}

@mixin text($font, $color, $size, $weight, $height) {
    font-family: $font;
    color: $color;
    font-size: $size;
    font-weight: $weight;
    line-height: $height;
}
.header {
    display: flex;

    &_nav {
        @include padding(18px, 165px);
    display: flex;
    justify-content: space-between;
    column-gap: 60px;

        &_link {
            @include text($Roboto, #505F98, 14px, 400, auto);
        }
    }

    &_logo {
        @include padding(271px, 12px);
        @include text($Roboto, #37447E, 26px, 900, auto);
    }

    &_btn {
        @include size(160px, 26px);
        @include margin(10px, 339px);
        @include text($Roboto, white, 12px, 400, auto);
    background-color: #111B47;
    border: none;
    cursor: pointer;
    }
}
.hero {
        @include size(auto, 965px);
    display: flex;

    &_left {

        &_title {
            @include size(539px, auto);
            @include padding(243px, 163px);
            @include text($Roboto, #091133, 50px, 500, auto);
        }

        &_text {
            @include size(539px, auto);
            @include padding(20px, 163px);
            @include text($Roboto, #505F98, 18px, 400, 30px, auto);
        }

        &_btn {
            @include size(190px, 36px);
            @include margin(69px, 163px);
            @include text($Roboto, white, 16px, 500, auto);
        background-color: #111B47;
        border: none;
        border-radius: 2px;
        cursor: pointer;
        }

        &_btn2 {
            @include size(190px, 36px);
            @include margin(auto, 30px);
            @include text($Roboto, #091133, 16px, 500, auto);
        background: none;
        border: 2px solid #091133;
        cursor: pointer;
        }
    }

    &_img {
        @include size(753px, 753px);
        @include margin(185px, 91px);
    }
}
.light {
    display: flex;

    &_left {

        &_title {
            @include size(539px, auto);
            @include padding(243px, 163px);
            @include text($Roboto, #091133, 50px, 500, auto);
        }

        &_text {
            @include size(539px, auto);
            @include padding(20px, 163px);
            @include text($Roboto, #505F98, 18px, 400, 30px, auto);
        }
        
        &_bottom {
            @include margin(80px, 165px);
        display: flex;
        column-gap: 30px;

            &_img {
                @include size(36px, 36px);
            }
    
            &_title {
                @include size(255px, auto);
                @include padding(14px, auto);
                @include text($Roboto, #091133, 16px, 400, auto);
            }
    
            &_text {
                @include size(255px, auto);
                @include padding(6px, auto);
                @include text($Roboto, #5D6970, 12px, 400, 18px);
            }
        }
    }

    &_img {
            @include size(540px, 524px);
            @include margin(109px, 200px);
    }
}
.fast {
        @include size(auto, 569px);
        @include margin(108px, auto);
    display: flex;

    &_img {
        @include size(480px, 315px);
        @include margin(122px, 176px);
    }
    
    &_right {

        &_title {
            @include size(539px, auto);
            @include padding(243px, 163px);
            @include text($Roboto, #091133, 50px, 500, auto);
        }
        
        &_text {
            @include size(539px, auto);
            @include padding(20px, 163px);
            @include text($Roboto, #505F98, 18px, 400, 30px);
        }
    }
}

.fast1 {
    @include size(auto, 569px);
    display: flex;

    &_img {
        @include size(540px, 387px);
        @include margin(122px, 161px);
    }

    &_right {

        &_title {
            @include size(539px, auto);
            @include padding(243px, 125px);
            @include text($Roboto, #091133, 50px, 500, auto);
        }
        
        &_text {
            @include size(539px, auto);
            @include padding(20px, 125px);
            @include text($Roboto, #505F98, 19px, 400, 30px);
        }
    }
}

.fast2 {
        @include size(auto, 569px);
        @include margin(108px, auto);
    display: flex;
    height: 569px;

    &_img {
        @include size(445px, 325px);
        @include margin(122px, 209px);
    }

    &_right {
        
        &_title {
            @include size(539px, auto);
            @include padding(125px, 172px);
            @include text($Roboto, #091133, 50px, 500, auto);
        }
    
        &_text {
            @include size(539px, auto);
            @include padding(20px, 172px);
            @include text($Roboto, #505F98, 18px, 400, 30px);
        }
    }

    &_btn {
        @include size(150px, 33px);
        @include margin(41px, 172px);
        @include text($Roboto, white, 14px, 400, auto);
    background-color: #111B47;
    border: none;
    border-radius: 2px;
    }
}

.pricing {
    @include size(auto, 796px);
    background-color: #FBFBFD;

    &_title {
        @include padding(229px, auto);
        @include text($Roboto, #091133, 36px, 500, 48px);
    text-align: center;
    }

    &_text {
        @include size(600px, auto);
        @include padding(16px, 420px);
        @include text($Roboto, #6F7CB2, 16px, 400, 26px);
    text-align: center;
    }

    &_product {

        &_price {
            @include padding(35px, 15px);
            @include text($Roboto, #222F65, 50px, 500, 66px);
        text-align: center;
        }

        &_name {
            @include text($Roboto, #37447E, 16px, 400, 26px);
        padding-right: 15px;
        text-align: center;
        }
    }

    &_text2 {
        @include padding(60px, auto);
        @include text($Roboto, #5D6970, 14px, 400, 26px);
    padding-right: 15px;
    text-align: center;
    }

    &_btn {
        @include size(189px, 32px);
        @include margin(9px, 640px);
        @include text($Roboto, white, 14px, 400, 24px);
    background-color: #111B47;
    border: none;
}
}

.footer {
    @include size(auto, 216px);
    background-color: #E7ECFF;

    &_up {
        @include size(1110px, auto);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

        &_copyright {
            @include padding(68px, auto);
            @include text($Roboto, #939EA4, 14px, 500, 24px);
        text-align: center;
        }

        &_logo {
            @include padding(61px, auto);
            @include text($Roboto, #37447E, 26px, 800, 38px);
        text-align: center;
        }

        &_btn {
            @include size(109px, 26px);
            @include margin(71px, auto);
            @include text($Roboto, white, 12px, 500, 18px);
        background-color: #111B47;
        border: none;
        border-radius: 2px;
        }
    }

    &_line {
        @include size(1110px, auto);
        @include margin(auto, 185px);
    width: 1110px;
    color: #CDD1D4;
    }

    &_bottom {
        @include size(1110px, auto);
    margin: 0 auto;
    width: 1110px;
    display: flex;
    justify-content: space-between;
    
    &_nav {
        display: flex;
        column-gap: 60px;
        
        &_link {
                @include text($Roboto, #929ECC, 14px, 500, 24px);
            text-decoration: none;
            text-align: center;
        }
    }
    &_right {
        display: flex;
        column-gap: 30px;

            &_svg {
                @include size(16px, 16px);
            }
    }
    }
}