$Roboto: "Roboto", sans-serif;

@mixin text($font, $color, $size, $weight) {
    font-family: $font;
    color: $color;
    font-size: $size;
    font-weight: $weight;
}
.header {
    display: flex;

    &_nav {
    display: flex;
    justify-content: space-between;
    column-gap: 60px;
    padding-top: 18px;
    padding-left: 165px;

        &_link {
            @include text($Roboto, #505F98, 14px, 400);
        }
    }

    &_logo {
        @include text($Roboto, #37447E, 26px, 900);
    padding-left: 271px;
    padding-top: 12px;
    }

    &_btn {
        @include text($Roboto, white, 12px, 400);
    margin-top: 10px;
    margin-left: 339px;
    width: 160px;
    height: 26px;
    background-color: #111B47;
    border: none;
    cursor: pointer;
    }
}
.hero {
    display: flex;
    height: 965px;

    &_left {

        &_title {
            @include text($Roboto, #091133, 50px, 500);
        padding-top: 243px;
        padding-left: 163px;
        width: 539px;
        }

        &_text {
            @include text($Roboto, #505F98, 18px, 400);
        padding-left: 163px;
        padding-top: 20px;
        width: 539px;
        line-height: 30px;
        }

        &_btn {
            @include text($Roboto, white, 16px, 500);
        background-color: #111B47;
        border: none;
        border-radius: 2px;
        margin-top: 69px;
        margin-left: 163px;
        width: 190px;
        height: 36px;
        cursor: pointer;
        }

        &_btn2 {
            @include text($Roboto, #091133, 16px, 500);
        background: none;
        margin-left: 30px;
        width: 190px;
        height: 36px;
        border: 2px solid #091133;
        cursor: pointer;
        }
    }

    &_img {
    width: 753px;
    height: 753px;
    margin-top: 185px;
    margin-left: 91px;
    }
}
.light {
    display: flex;

    &_left {

        &_title {
            @include text($Roboto, #091133, 50px, 500);
        padding-top: 243px;
        padding-left: 163px;
        width: 539px;
        }

        &_text {
            @include text($Roboto, #505F98, 18px, 400);
        padding-left: 163px;
        padding-top: 20px;
        width: 539px;
        line-height: 30px;
        }
        
        &_bottom {
        display: flex;
        margin-top: 80px;
        margin-left: 165px;
        column-gap: 30px;

            &_img {
            width: 36px;
            height: 36px;
            }
    
            &_title {
                @include text($Roboto, #091133, 16px, 400);
            width: 255px;
            padding-top: 14px;
            }
    
            &_text {
                @include text($Roboto, #5D6970, 12px, 400);
            width: 255px;
            padding-top: 6px;
            line-height: 18px;
            }
        }
    }

    &_img {
        width: 540px;
        height: 524px;
        margin-top: 109px;
        margin-left: 200px;
    }
}
.fast {
    display: flex;
    margin-top: 108px;
    height: 569px;

    &_img {
    width: 480px;
    height: 315px;
    margin-left: 176px;
    margin-top: 122px;
    }
    
    &_right {

        &_title {
            @include text($Roboto, #091133, 50px, 500);
        padding-top: 243px;
        padding-left: 163px;
        width: 539px;
        }
        
        &_text {
            @include text($Roboto, #505F98, 18px, 400);
        padding-left: 163px;
        padding-top: 20px;
        width: 539px;
        line-height: 30px;
        }
    }
}

.fast1 {
    display: flex;
    height: 569px;

    &_img {
    width: 540px;
    height: 387px;
    margin-left: 161px;
    margin-top: 122px;
    }

    &_right {

        &_title {
            @include text($Roboto, #091133, 50px, 500);
        padding-top: 243px;
        padding-left: 125px;
        width: 539px;
        }
        
        &_text {
            @include text($Roboto, #505F98, 19px, 400);
        padding-left: 125px;
        padding-top: 20px;
        width: 539px;
        line-height: 30px;
        }
    }
}

.fast2 {
    display: flex;
    margin-top: 108px;
    height: 569px;

    &_img {
    width: 445px;
    height: 325px;
    margin-left: 209px;
    margin-top: 122px;
    }

    &_right {
        
        &_title {
            @include text($Roboto, #091133, 50px, 500);
        padding-top: 125px;
        padding-left: 172px;
        width: 539px;
        }
    
        &_text {
            @include text($Roboto, #505F98, 18px, 400);
        padding-left: 172px;
        padding-top: 20px;
        width: 539px;
        line-height: 30px;
        }
    }

    &_btn {
        @include text($Roboto, white, 14px, 400);
    margin-left: 172px;
    margin-top: 41px;
    background-color: #111B47;
    border: none;
    border-radius: 2px;
    width: 150px;
    height: 33px;
    }
}

.pricing {
    background-color: #FBFBFD;
    height: 796px;

    &_title {
        @include text($Roboto, #091133, 36px, 500);
    padding-top: 229px;
    text-align: center;
    line-height: 48px;
    }

    &_text {
        @include text($Roboto, #6F7CB2, 16px, 400);
    width: 600px;
    padding-top: 16px;
    padding-left: 420px;
    text-align: center;
    line-height: 26px;
    }

    &_product {

        &_price {
            @include text($Roboto, #222F65, 50px, 500);
        padding-top: 35px;
        padding-right: 15px;
        text-align: center;
        line-height: 66px;
        }

        &_name {
            @include text($Roboto, #37447E, 16px, 400);
        padding-right: 15px;
        text-align: center;
        line-height: 26px;
        }
    }

    &_text2 {
        @include text($Roboto, #5D6970, 14px, 400);
    padding-top: 60px;
    padding-right: 15px;
    text-align: center;
    line-height: 26px;
    }

    &_btn {
        @include text($Roboto, white, 14px, 400);
    margin-top: 9px;
    margin-left: 640px;
    background-color: #111B47;
    border: none;
    width: 189px;
    height: 32px;
    line-height: 24px;
}
}

.footer {
    height: 216px;
    background-color: #E7ECFF;

    &_up {
    margin: 0 auto;
    display: flex;
    width: 1110px;
    justify-content: space-between;

        &_copyright {
            @include text($Roboto, #939EA4, 14px, 500);
        padding-top: 68px;
        text-align: center;
        line-height: 24px;
        }

        &_logo {
            @include text($Roboto, #37447E, 26px, 800);
        padding-top: 61px;
        text-align: center;
        line-height: 38px;
        }

        &_btn {
            @include text($Roboto, white, 12px, 500);
        margin-top: 71px;
        background-color: #111B47;
        border: none;
        border-radius: 2px;
        width: 109px;
        height: 26px;
        line-height: 18px;
        }
    }

    &_line {
    width: 1110px;
    color: #CDD1D4;
    margin-left: 185px;
    }

    &_bottom {
    margin: 0 auto;
    width: 1110px;
    display: flex;
    justify-content: space-between;
    
    &_nav {
        display: flex;
        column-gap: 60px;
        
        &_link {
                @include text($Roboto, #929ECC, 14px, 500);
            text-decoration: none;
            text-align: center;
            line-height: 24px;
        }
    }
    &_right {
        display: flex;
        column-gap: 30px;

            &_svg {
                width: 16px;
                height: 16px;
            }
    }
    }
}